/*========================== BODY ==============================*/
body {
    background-image: url("../image/background_winter.jpg");
    font :  1.5em "Trebuchet MS";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size : 2.4em;
}
h2 {
    font-size : 2.2em;
}
h3 {
    font-size : 1.8em;
}
/*======================= SECTIONS ==================================*/
header, footer {
    margin: auto;
    text-align: center;
    padding: 20px;
}
header {
    width: 100%;
    position: fixed;
    top:0;
    height: 80px;
    background-color: darkslategray;
    z-index: 10;
}
footer {
    background-color: white;
    width: 90vw;
}
#contact1, #contact2 {
    font-size: 0.9em;
    padding: 5px;
    color: midnightblue;
    border: 1px dashed lightskyblue;
}
#linkMenu   {
    padding: 5px;
    font-size: 1.1em;
    font-style: italic;
 }
#content{
    text-align: center;
    width: 90vw;
    margin: 100px auto 1em auto;
    background-color: white;
}
.bottom {
    margin-bottom: 3em;
}
#home {
    text-align: center;
}
#homeTitle {
    color: darkslategray;
    font-size: 4em;
    margin: 20px auto 20px auto;
}
#authorDiv {
    width: 90%;
    margin: auto;
}
#authorImg {
    width :30%;
}
.linkOtherChapter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.linkOtherChapterLeft {
    align-self: start;
}
.linkOtherChapterRight {
    align-self: end;
}
.extractChapter {
    padding: 15px;
    margin: 15px;
    border: dashed dodgerblue 2px;
}
.extractTitle {
    color: #2b542c;
}
.extractSubTitle {
    font-size: 0.7em;
    font-style: italic;
}
.readMore {
    color: darkblue;
    font-weight: bold;
}
.chapter, .comments {
    text-align: left;
    margin:auto;
}
.postComment {
    text-align: left;
    margin:auto;
}
.divPostComment {
    border: 1px groove dodgerblue;
}

/*========================== NAVIGATION MENU ==============================*/
ul#menu {
    list-style-type : none;
}
ul#menu li {
    background-color: #66afe9;
    border: groove 1px dodgerblue;
    line-height : 40px;
}
ul#menu a {
    color : black;
    text-decoration : none;
}

ul#menu a:hover { text-decoration : underline; }

ul#menu a i {
    border : none;
}

/*+++++++++++++++++++++++++++++++ COMMENT MENU +++++++++++++++++++++++++++*/

.oneComment {
    border: 1px lightskyblue dashed;
    margin-bottom: 5px;
    padding: 5px;
}
.menuComment {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menuComment li {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    min-width: 50px;
    margin:0;
    font-size: 1em;
    text-align: center;
    border-top: #1b6d85 2px solid;
    border-bottom: #1b6d85 2px solid;
    border-left: #1b6d85 2px solid;
}
.menuComment li a {
    width: 100%;
}
.like {
    background-color: white;
    color: green;
}
.dislike {
    background-color: white;
    color: firebrick;
}
.myLikeButton{
    background-color: lightgreen;
}
.dislikeButton {
    background-color: lightblue;
}
.signaledButton {
    background-color: lightcoral;
}
.approve {
    background-color: white;
}
.signaled{
    background-color: sandybrown;
}
.myLikeButton:hover {
    background-color: mediumspringgreen;
    color: black;
}
.dislikeButton:hover {
     background-color: deepskyblue;
     color: black;
 }
.signaledButton:hover {
      background-color: orangered;
      color: black;
  }
.myLikeButton i, .dislikeButton i, .signaledButton i{
    color: black;
}
.rightLi {
    border-right: #1b6d85 2px solid;
}
/*=========================== CONTACT FORM ==================================*/

form {
    margin: auto;
    width: 40%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    text-align: left;
}


label {
    width: 90%;
    margin: 5px;
    padding: 5px;
}

input, textarea {
    margin: 5px;
    padding: 5px;
    width: 90%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
button {
    margin: 10px;
    padding: 5px;
    color: darkslategray;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    height: 5em;
    resize: vertical;
}
#welcomeUser {
    margin-top: 15px;
}
/*========================== ADMIN - TYNIMCE ==============*/
#noSignaledComment {
    color: forestgreen;
    font-style: italic;
}
.figureAdmin {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.figureAdmin figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border : 3px groove #1b6d85;
    padding: 15px;
    margin: 15px;
    height: 260px;
}

.figureAdmin figure figcaption {
    text-align: center;
    font-size: 1.5em;
    color: royalblue;
}

#plume, #commentChecking {
    margin: auto;
    width: 45%;
    max-width: 500px;
}
#newArticle {
    height: 50vh;
}
.buttonModify{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonModify a {
    font-size: 0.8em;
    color: white;
    background-color: #1b6d85;
    border: 1px solid #122b40;
    margin: 7px 5px auto 5px;
    padding: 5px;
}
.adminTitleChapter, .adminCommentLogin {
    font-size: 1.2em;
    color: midnightblue;
    font-weight: bold;
}
.adminExtractChapter, .adminCommentContent {
    font-size: 1.1em;
    color: black;
}
.adminCommentChapter {
    font-size: 1em;
    color: royalblue;
}

.adminDateChapter, .adminCommentLike {
    font-style: italic;
    font-size: 0.9em;
    color: black;
}