/*========================== BODY ==============================*/
body {
    background-image: url("../image/background_winter.jpg");
    font :  1.5em "Trebuchet MS";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size : 2.4em;
}
h2 {
    font-size : 2.2em;
}
h3 {
    font-size : 1.8em;
}
/*======================= SECTIONS ==================================*/
header, footer {
    margin: auto;
    text-align: center;
    padding: 20px;
}
header {
    width: 100%;
    position: fixed;
    top:0;
    height: 80px;
    /*background-color: darkslategray;*/
    z-index: 10;
}
footer {
    background-color: white;
    width: 90vw;
}

#content{
    text-align: center;
    width: 90vw;
    margin: 100px auto 1em auto;
    background-color: white;
}
#home {
    text-align: center;
}
.extractChapter {
    padding: 15px;
    margin: 15px;
    border: dashed dodgerblue 2px;
}
.extractTitle {
    color: #2b542c;
}
.extractSubTitle {
    font-size: 0.7em;
    font-style: italic;
}
.readMore {
    color: darkblue;
    font-weight: bold;
}
.chapter, .comments {
    text-align: left;
    margin:auto;
}

/*========================== NAVIGATION MENU ==============================*/

ul#menu {
    list-style-type : none;
}

ul#menu li {
    background-color: #66afe9;
    border: groove 1px dodgerblue;
    line-height : 40px;
}

ul#menu a {
    color : black;
    text-decoration : none;
}

ul#menu a:hover { text-decoration : underline; }

ul#menu a i {
    border : none;
}

/*+++++++++++++++++++++++++++++++ COMMENT MENU +++++++++++++++++++++++++++*/

.menuComment {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    list-style: none;
}
.menuComment li {
    width: 5%;
    padding: 5px;
    font-size: 0.8em;
}
#like {
    color: green;
}
#dislike {
    color: firebrick;
}
#signaled {
    color: darkslategray;
}
/*=========================== CONTACT FORM ==================================*/

form {
    margin: auto;
    width: 40%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    text-align: left;
}


label {
    width: 90%;
    margin: 5px;
    padding: 5px;
}

input, textarea {
    margin: 5px;
    padding: 5px;
    width: 90%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
button {
    margin: 5px;
    padding: 5px;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    height: 5em;
    resize: vertical;
}
#welcomeUser {
    margin-top: 15px;
}
/*========================== ADMIN - TYNIMCE ==============*/

#newArticle {
    height: 50vh;
}
.buttonModifyChapter{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonModifyChapter a {
    font-size: 0.8em;
    color: white;
    background-color: #1b6d85;
    border: 1px solid #122b40;
    margin: 7px 5px auto 5px;
    padding: 5px;
}
.adminTitleChapter {
    font-size: 1.2em;
    color: #122b40;
    font-weight: bold;
}
.adminExtractChapter {
    color: black;
}
.adminDateChapter {
    font-style: italic;
    font-size: 0.9em;
}